<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WorkerRole1.Properties.Settings.CloudAzureConnectionString"
            connectionString="Data Source=oxlqq19r8b.database.windows.net;Initial Catalog=CloudAzure;User ID=Nick;Password=Nn02151010"
            providerName="System.Data.SqlClient" />
        <add name="WorkerRole1.Properties.Settings.ProtectAzureConnectionString"
            connectionString="Data Source=fgvfiud62f.database.windows.net;Initial Catalog=ProtectAzure;User ID=Nick;Password=Nn02151010"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>